

body{
    display: grid;
    background-color: #121212;
    margin: 0;
    height: 100vh;
    grid-template-rows: 30% auto 10%;
    grid-template-areas: 
    'header'
    'main'
    'footer'
    ;   
}
p{
    color: white;
}
header{
    position: fixed;
    z-index: 1;
    grid-area: header;
    padding: 0;
    width: 100%;
    height: 40px;
    background: linear-gradient(135deg, rgba(255, 255, 255,0.1), rgba(255,255,255,0));
    backdrop-filter: blur(5px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
}
main{
    grid-area: main;
    background: rgb(8,29,50);
background: linear-gradient(180deg, rgba(8,29,50,1) 12%, rgba(0,0,0,1) 100%);
}
.banniere{
    margin-top: 50px;
    width: 100%;
    /* height: auto; */
    
}
.imgbanniere{
    position: relative;
    width: 100%;
    border-bottom: 1px solid rgba(95, 96, 106, 0.3);
    z-index: -1;
    
}
.title{
    padding: 10px 20px 10px 20px;
    background: linear-gradient(135deg, rgba(255, 255, 255,0.1), rgba(255,255,255,0));
    backdrop-filter: blur(5px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 5px;
    margin-left: 10%;
    margin-right: 10%;  
}
.slogan{
    font-size: 30px;
    font-family: "DM Serif Display", serif;
    text-align: center;
    padding: 10px;
    margin: 0;
    
}
.slogan1 {
    font-family: "DM Serif Display", serif;
    text-align: center;
}
.descript{
    display: flex;
    flex-direction: row;
    height: 200px;
    margin-bottom: 50px;

}
.wordkey{
    margin: 0;
    padding: 20px;
    /* text-align: center; */
    font-family: "DM Serif Display", serif; 
}
.vidéosurv, .secu, .install{
    margin: 0;
    
}
.vidéosurv{
    position: relative;
    /* width: 150px; */
    padding: 5px;
    top: 60px;
    /* left: 20px; */
    /* text-align: center; */
    left: 50%;
    transform: translate(-50%);
}
.secu{
    position: relative;
    /* width: 70px; */
    padding: 5px;
    top: 75px;
    left: 60px;
    /* text-align: center; */
    /* left: 50%;
    transform: translate(-50%); */
}
.install{
    position: relative;
    /* width: 120px; */
    padding: 5px;
    top: 90px;
    left: 85px;
    /* text-align: center; */
    /* left: 50%;
    transform: translate(-50%); */
}

.camera1{
    position: relative;
    width: 200px;
    top: 30px;
    left: 10px;
}

.contact{
    color: white;
    background: linear-gradient(135deg, rgba(255, 255, 255,0.2), rgba(255,255,255,0.1));
    backdrop-filter: blur(5px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 5px;
    border-radius: 5px;
}
.detail{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    
}
footer{
    grid-area: footer;
    display: flex;
    background-image: url(img/transpat-titre-produit-alarme_0.jpg);
    background-size: cover;
    opacity: 80%;
}
.footertitle{
    font-size: 30px;
    color: black;
}